*, *::before,*::before{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    gap: 27px;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    background-color:rgb(108, 130, 130);
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(241, 255, 241);
    font-size: 15px;
    padding-left: 60px;
    height: 80px;
    color: rgb(0, 0, 0);
}

body.dark_mode header{
    color: white;
}

main{
    width: 700px;
    gap: 15px;
    height: 620px;
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 186, 186);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 60px 300px;
    align-items: center;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0 0 19px black;
}

body.dark_mode .task-div{
    background-color: rgb(44, 43, 43);
}

body.dark_mode .task-div span{
    background-color: black;
}

.task-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(127, 255, 212, 0.5);
    padding: 20px;
    width: 450px;
    font-size: 15px;
    border-radius: 20px;
    gap: 100px;
    box-shadow: 0 0 25px black;
}

.task-div span{
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 17px;
    overflow-wrap: anywhere;
}

button{
    width: 100px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(96, 84, 84, 0.7);
    transition: all 0.3s ease-out;
    box-shadow: 0 0 8px black;
}

body.dark_mode button{
    background-color: rgb(110, 110, 110);
}

body.dark_mode button:hover{
    background-color: rgba(250, 235, 215, 0.622);
}

button:hover{
    background-color: rgb(255, 0, 0);
}

.message{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 500px;
    font-size: 20px;
    border-radius: 20px;
}