*, *::before, *::after{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 222, 222);
    gap: 50px;
}

header{
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 60px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

body.dark_mode header{
    color: white;
}

main{
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 12px black;
    align-self: center;

}

main table{
    display: flex;
    width: 100%;
    background-color:aqua;
    border-radius: 20px;
    padding: 30px;
    overflow: auto;
    max-height: 100%;
    border: none;
}

body.dark_mode main table{
    background-color: rgb(52, 48, 43);
}

td, th{
    padding: 20px;
    border-top: none;
    border-color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

body.dark_mode td, th{
    border: 1px solid rgba(255, 255, 255, 0.217);
}