*, *::before, *::after {
    box-sizing: border-box;

}

html, body{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 20px;
    background-color: #000000;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    align-self: center;
    background-color: rgb(0, 0, 0);
    width: 900px;
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-300px);
    animation: fadeInTop 2s forwards;
    margin-top: 10px;
}

nav .drop-down .log:hover{
    color: red;
}


.drop-down{
    position: relative;
}

.drop-down-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(215, 226, 216);
    border: 1px solid #ccc;
    min-width: 250px;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.drop-down-content a{
    display: block;
    padding: 10px;
    color: black;
    
}

.drop-down:hover .drop-down-content{
    display: flex;
}



@keyframes fadeInTop{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



nav a{
    font-size: 25px;
    color: azure;
}

nav a.active{
    color:aquamarine;
}

nav a:hover{
    color: rgb(208, 207, 207);
}

a{
    text-decoration: none;
}

.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 3px solid aquamarine;
    cursor: pointer;
    animation: rotate 7s linear infinite;
    transition: border-color 0.3s;
}

.form-container{
    opacity: 0;
    animation: fadeInLeft 0.9s forwards;
    animation-delay: 1s;
    transform: translateX(-400px);
}

@keyframes fadeInLeft{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotate{

    0% {border-color: rgb(21, 0, 255);}
    25% {border-color: rgb(152, 252, 202);}
    50% {border-color: rgb(22, 92, 255);}
    75% {border-color: aquamarine;}
    100% {border-color: #2457ff;}
}

.profile-pic:hover{
    border: 5px solid aquamarine;
}

.form-container{
    display: flex;
    flex-direction: row;
    width: 400px;
    align-items: center;
    gap: 20px;
    padding-left: 35px;
    font-size: 14px;
}


.header-welcome-txt{
    display: flex;
    width: 100%;
    max-width: 100%;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 30px;
    overflow: hidden;
    text-align: center;
    word-break: break-all;
    padding: 0 20px;
}

.header-welcome-txt p{
    opacity: 0;
    animation: slideFade 2.5s ease forwards;
    animation-delay: 1s;
    transform: translateX(-600px);
}   

@keyframes slideFade {
    from{
        opacity: 0;
        transform: translateX(-1500px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }

}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    width: 100%;
    padding: 50px 80px;
    background-color: rgb(255, 255, 255);   
}

.header-section{
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
}

.move-top-bottom-container-i{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    padding: 10px 40px;
}

.img-txt-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.move-left-img{
    display: flex;
    align-items: top;
    min-width: 60%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    overflow: hidden;
}


.move-left-img img{
    height: 550px;
    align-self: center;
}

.move-right-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 20px ;
}

body.dark_mode .move-right-text {
    background-color: rgb(46, 43, 39);
}

.right-text-i{
    font-size: 40px;
}

.right-text-ii{
    font-size: 25px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(191, 196, 196);
    padding: 20px 30px;
    overflow: hidden;
}


.move-left-right-container-ii{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10px;
}

.move-left-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    min-height: 100px;
    font-size: 50px;
    text-align: center;
    padding: 30px;
    opacity: 0;    
}


.move-left-text.active {
    animation: popInLeft 0.5s ease-out forwards;
}

@keyframes popInLeft{
    0%{
        opacity: 0;
        transform: translateX(-300px) scale(0.8);
    }
    60%{
        opacity: 1;
        transform: translateX(-20px) scale(1.05);
    }
    80%{
        opacity: 1;
        transform: translateX(-10px) scale(0.95);
    }
    100%{
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.move-left-text h4{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.right-header{
    opacity: 0;
    transform: translateX(0px);
    
}


.right-header.active{
    animation: bounceInRight 1s ease-out forwards;
}

@keyframes bounceInRight {
    0%{
        opacity: 0;
        transform: translateX(300px);
    }
    60%{
        opacity: 1;
        transform: translateX(-20px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.move-right-task-btn{
    display: flex;
    width: 50%;
    height: 100%;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.move-right-task-btn button{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: rgb(20, 218, 102);
    cursor: pointer;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    overflow: hidden;

}

.move-right-task-btn button::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 83, 46);
    transition: left 0.5s ease;
    z-index: 0;
}


.move-right-task-btn button:hover::after{
    left: 0;
    
}

.move-right-task-btn button span{
    position: relative;
    z-index: 2;
    transition: color 0.6s ease;
}

.move-right-task-btn button:hover span{
    color: aquamarine;
}


footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    margin: 0;
    padding: 0 ;
}

.footer-section-i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(220, 222, 214);
}

.footer-section-ii{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: max-content;
    align-items: flex-start;
    background-color: rgb(15, 67, 18);
    padding-top: 25px;
}

.footer-section-ii span{
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}


.footer-center{
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: black;
}

.footer-center p{
    font-size: 20px;
    opacity: 50%;

}

.footer-center{
    color: antiquewhite;
}

.footer-right textarea{
    display: flex;
    width: 100%;
    height: 140px;
    resize: none;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.footer-right button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.footer-right button:hover{
    background-color: lawngreen;
    cursor: pointer;
    transform: scale(1.09);
}

.footer-right{
    color: antiquewhite;
}


.footer-left ul{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.footer-left ul a:hover{
    color: aquamarine;
}


.footer-left ul a{
    color: rgb(52, 163, 126);
}

.footer-left{
    color: antiquewhite;
    overflow: hidden;
}


footer h1{
    font-size: 40px;
}


.footer-section-i p{
    text-align: center;
    font-size: 40px;
    opacity: 0;
}


.footer-section-i p.active{
    animation: fadeIn 2.10s forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translate(10px);
        scale: 0.5;
    }
    to{
        opacity: 1;
        transform: translate(0);
        scale: 1;
    }
}