*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 180, 186);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.h1{
    width: 100%;
    color: aqua;
    background-color: rgb(25, 38, 24);
    font-size: 14px;
    padding: 30px 40px;
}

body.dark_mode .h1{
    background-color: rgb(23, 23, 23);
}

section{
    display: flex;
    padding: 40px;
    flex: 1;
    width: 100%;
}

a{
    text-decoration: none;
    color: rgb(33, 58, 58);
    text-shadow: 2px 2px 4px aqua;
    padding: 10px;
}

body.dark_mode a{
    color: white;
    text-shadow: 2px 2px 20px rgb(0, 0, 0);
}

a:hover{
    color: beige;
    background-color: rgb(144, 143, 143);
    text-shadow: none;
}

section .menu{
    display: flex;
    align-items: center;
    font-size: 50px;
    padding: 40px;
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 0 25px aqua;
}

section ul li{
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}


section ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}