html, body{
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(199, 188, 171);
    font-size: 10px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.sign-up{
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
    width: 40%;
    padding: 20px;
    margin-top: 40px;
}
input, button{
    width: 80%;
    margin: 10px;
}
input{
    padding: 9px;
    font-size: 20px;
    border: none;
    border-bottom: 1.5px solid black;
    outline: none;
}
input:focus{
    border-bottom: 1.5px solid rgb(18, 216, 150);
}
button{
    width: 100px;
    padding: 8px 6px;
    font-weight: bolder;
    background-color: rgba(8, 128, 130, 0.556);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(15, 111, 133);
}

.flash-m{
    font-size: 16px;
    color: red;
}

