body{
    font-family: 'Roboto', sans-serif;
}


body.dark_mode {
    background-color: rgb(0, 0, 0);
    color: rgb(228, 231, 234);
}


body.dark_mode header{
    background-color: rgb(26, 26, 27);
}

body.dark_mode header nav{
    background-color: rgb(79, 77, 77);
}

body.dark_mode main{
    background-color: rgb(47, 47, 47);
}


body.dark_mode footer .footer-section-i {
    background-color: rgb(27, 26, 26);
}

body.dark_mode footer .footer-section-ii {
    background-color: black;
}