*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(157, 156, 156);
    font-family: 'Roboto', sans-serif;

}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 30px 200px;
}

body.dark_mode main h3{
    color: black;
}
body.dark_mode main{
    color: rgb(250, 250, 250);
}

body.dark_mode main h1{
    color: aliceblue;
}

main section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 600px;
    padding: 30px;
    flex-wrap: wrap;
    overflow: auto;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
} 

body.dark_mode main section{
    background-color: rgb(0, 0, 0);
}

.pending ul{
    padding: 20px;
    margin: 30px;
    list-style-type: none;
    background-color: rgb(209, 218, 218);
    animation: shadowUp 0.5s  linear infinite;
    animation-duration: 3s;
    border-radius: 20px;
    width: 300px;
}

@keyframes shadowUp{
    0%{
        box-shadow: 0 0 5px red;
    }
    35%{
        box-shadow: 0 0 10px red;
    }
    50%{
        box-shadow: 0 0 17px red;
    }
    70%{
        box-shadow: 0 0 20px red;
    }
    100%{

        box-shadow: none;
    }
}
.pending ul li{
    padding: 13px;
    font-size: 17px;
    margin-left: 30px;
    border-left: 2px solid black;
    border-radius: 17px;
}

.pending h3{
    align-self: center;
    margin: 30px;
    font-size: 18px;
}

.completed h3{
    align-self: center;
    margin: 30px;
    font-size: 18px;
}

body.dark_mode .completed h3, .dark_mode .pending h3{
    color: white;
}


.pending{
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    overflow: auto;
    overflow-wrap: anywhere;
    border-top: 2px solid rgba(100, 60, 60, 0.5);
}

.completed{
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    overflow: auto;
    overflow-wrap: anywhere;
    border-top: 2px solid rgba(100, 60, 60, 0.5);

}
.completed ul{
    padding: 20px;
    margin: 30px;
    list-style-type: none;
    box-shadow: 0 0 10px green;
    background-color: rgb(209, 218, 218);
    border-radius: 20px;
    width: 300px;
}

body.dark_mode main .completed ul, .dark_mode .pending ul{
    background-color: rgb(49, 48, 48);
}

.completed ul li{
    padding: 13px;
    font-size: 17px;
    margin-left: 30px;
    border-left: 2px solid black;
    border-radius: 17px;
}


body.dark_mode main .completed ul li,  .dark_mode .pending ul li{
    border-left: 2px solid rgb(206, 206, 206);
}

.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 9px;
}

body.dark_mode .h1{
    color: white;
    background-color: black;
}